/***** NEUER STYLE******/
* {
    font-family: 'Noto Serif';
    }
    body {
        background-color:#e2e2e2 !important;
    }
 #logo {
      display: block;
    margin-top: -18px;
    width: 60px;
 }   
    /*#########CONTENT CONTAINER ########*/
    .container {
       max-width:728px;
        margin:10px auto;
        width:100%;
}
.content {
    background-color:white;
    margin-top:20px;

}
.content#list {
    background-color:#e2e2e2;
}
.content#texts {
            width:520px;
        }

.content#index {
    padding: 10px;
}

#index div {
    padding: 5px 7px 10px;
}

    


    /*############ NAVIGATION ###############*/
    
#logo {
    height: 55px;
    margin-top: -18px;
}
#navigation {
    padding: 10px 0px;
    background: linear-gradient(top, #edeef2 0%, #f2f2f2 100%, #cac3db 100%); 
    background: -moz-linear-gradient(top, #edeef2 0%, #f2f2f2 100%, #cac3db 100%); 
    background: -webkit-linear-gradient(top, #edeef2 0%, #f2f2f2 100%, #cac3db 100%); 
    background: -ms-linear-gradient(top, #edeef2 0%, #f2f2f2 100%, #cac3db 100%); 
    background: -o-linear-gradient(top, #edeef2 0%, #f2f2f2 100%, #cac3db 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#edeef2, endColorstr=#cac3db,GradientType=1);    
    box-shadow: 0px 1px 20px 1px #cac3db; -moz-box-shadow: 0px 1px 20px 1px #cac3db; -webkit-box-shadow: 0px 1px 20px 1px #cac3db;

    height:65px;
    

}

.MainNavContent {
    display:block;
    padding: 0px 0px;
    float:left;
   /* width:190px;*/
   margin: 10px 10px;
    cursor:pointer;
    color:black !important;
}


.MainNavTab {
    float:left;
    padding: 5px 10px;
}
/*
.MainNavTab:hover {
    box-shadow: 2px 0px 20px 2px #cac3db;
    -moz-box-shadow: 2px 0px 20px 2px #cac3db;
    -webkit-box-shadow: 2px 0px 20px 2px #cac3db;
    background-color:#fafafa !important;
    
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    moz-border-radius-topleft: 10px; 
    -moz-border-radius-topright: 10px; 
    -moz-border-radius-bottomright: 10px; 
    -moz-border-radius-bottomleft: 10px; 
    -webkit-border-top-left-radius: 10px; 
    -webkit-border-top-right-radius: 10px; 
    -webkit-border-bottom-right-radius: 10px; 
    -webkit-border-bottom-left-radius: 10px;
}
*/
.MainNavTab:hover {
    background: linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -moz-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -webkit-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -ms-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -o-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5e81f2, endColorstr=#8091e8,GradientType=1);
    color:white !important;
}

div.MainNavTab.active {
    box-shadow: 2px 0px 20px 2px #cac3db; -moz-box-shadow: 2px 0px 20px 2px #cac3db; -webkit-box-shadow: 2px 0px 20px 2px #cac3db;
    background-color:#fafafa !important;
    border-bottom: 1px solid;
    
}

.SubNavTab_div:hover, .ListTab:hover, .ThiNavTab_div:hover, .QuadNavTab_div:hover {
background: linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -moz-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -webkit-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -ms-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -o-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5e81f2, endColorstr=#8091e8,GradientType=1);
    color:white !important;
}

.QuadNavTab_div {
    width:100%;
}

.ListTab .active {
    background: linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -moz-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -webkit-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -ms-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -o-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5e81f2, endColorstr=#8091e8,GradientType=1);
    color:white !important;

}


.SubNavTab_div, .ListTab, .ThiNavTab_div, .SubNavTab_head, .EmptyTab, .ThiNavList_div {
    padding-left:10px;
    margin: 4px 0 1px;
}
.SubNavTab_div a, .ThiNavTab_div a, .ThiNavTab_div li, .ThiNavList_div a{
    color:black !important;
}

.SubNavTab_div a:hover, .ThiNavTab_div a:hover, .ThiNavTab_div li:hover , .ThiNavList_div a:hover{
    color:white !important;
}

.ThiNavTab_div {
    width:200px;
}

.ThiNavTab_div.authors {
    width:50px;
}


.BFont {
    
}

    .HeadTab {
    font-size:14px;
    
}

.EmptyTab {
    width:200px;
    color: #CCCCCC;
}

.inset {
      /*  text-shadow: 0 -1px 1px #666666, 0 1px 1px #FFFFFF;*/

}

.emboss {
        /*  text-shadow: 0 -1px 1px #FFFFFF, 0 1px 1px #666666;*/
}


.MainNavList, .SubNavList, .ThiNavList {
        list-style:none;
        margin:0 !important;        
        padding-left:0px !important;
        
        
        
}

 .ThiNavList {
     width:90%;
 }

.SecNavTab {
    display:none;
    position:absolute;
    width:200px;
    margin: 31px 0 0 0;
    padding-bottom:10px;
    z-index:3;
    
    background:#fafafa;
    
    
    border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px;
    
    box-shadow: 0px 12px 20px 2px #cac3db; -moz-box-shadow: 0px 12px 20px 2px #cac3db; -webkit-box-shadow: 0px 12px 20px 2px #cac3db;
}

.SubNavTab {
    
}

.SubNavTab_List {

    list-style:none;
}
.MainNavList {
   
}
.SubNavList {
    
    display:none;
        list-style:none;

}

.SubNavList_div, .ThiNavList_div {
    margin: -20px 0 0 150px;
    position:absolute;
    display:none;
    background-color:#fafafa;
    
    
    background-color:#fafafa;
    border-top-left-radius: 0px; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 0px; 
    moz-border-radius-topleft: 0px; 
    -moz-border-radius-topright: 10px; 
    -moz-border-radius-bottomright: 10px; 
    -moz-border-radius-bottomleft: 10px; 
    -webkit-border-top-left-radius: 0px; 
    -webkit-border-top-right-radius: 10px; 
    -webkit-border-bottom-right-radius: 10px; 
    -webkit-border-bottom-left-radius: 00px;
    
     box-shadow: 0px 1px 20px 2px #cac3db; -moz-box-shadow: 0px 1px 20px 2px #cac3db; -webkit-box-shadow: 0px 1px 20px 2px #cac3db;

}

.ThiNavList_div {
     margin-left: 30px;
     width: 230px;
}
.NavLine {
    border-bottom:1px solid #cac3db;
    margin: 5px 5px 10px 0;
}

.SubNavTab_head {
    font-weight:bold;
    font-style:italic;
}

#ul_period {

    
}

#il_period {
    
}
#div1_period {
    padding-left:10px;
    margin: 4px 0 1px;
}
#div_period {
    display:none;
    padding-left:10px;

    display:none;
    
}
.per_custom_input {
   width: 75%;
}

.per_label {
    padding-right: 5px;
    text-align: right;
    width: 23%;
}
/*########## SEARCH BUTTON DESIGN ###################*/
#SearchForm {
    float:left;
}

#searchTab,#searchDiv,#searchButton { 
    float:left;
    display:block;
    }

#searchButton {
    padding: 10px 15px 10px 13px;
    text-align:center;
}
#searchTab {

}

#searchDiv {

}

#search_icon {
    color:black;
}
#search_adDiv {
    font-size:10px;
    padding: 1px 0 0 5px;
}



#searchButton:hover, #search_adDiv:hover {
      background-color:#fafafa;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    moz-border-radius-topleft: 10px; 
    -moz-border-radius-topright: 10px; 
    -moz-border-radius-bottomright: 10px; 
    -moz-border-radius-bottomleft: 10px; 
    -webkit-border-top-left-radius: 10px; 
    -webkit-border-top-right-radius: 10px; 
    -webkit-border-bottom-right-radius: 10px; 
    -webkit-border-bottom-left-radius: 10px;
     box-shadow: 0px 1px 20px 2px #cac3db; -moz-box-shadow: 0px 1px 20px 2px #cac3db; -webkit-box-shadow: 0px 1px 20px 2px #cac3db;

}
#search_adDiv.active {
    height:20px;
     font-size: 12px;
     
    background-color:#fafafa;
    border-top-left-radius: 2px; 
    border-top-right-radius: 2px; 
    border-bottom-right-radius: 2px; 
    border-bottom-left-radius: 2px; 
    moz-border-radius-topleft: 2px; 
    -moz-border-radius-topright: 2px; 
    -moz-border-radius-bottomright: 2px; 
    -moz-border-radius-bottomleft: 2px; 
    -webkit-border-top-left-radius: 2px; 
    -webkit-border-top-right-radius: 2px; 
    -webkit-border-bottom-right-radius: 2px; 
    -webkit-border-bottom-left-radius: 2px;
     box-shadow: 0px 1px 20px 2px #cac3db; -moz-box-shadow: 0px 1px 20px 2px #cac3db; -webkit-box-shadow: 0px 1px 20px 2px #cac3db;

}

#search_adDiv.active:hover {
    background: linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -moz-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -webkit-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -ms-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -o-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5e81f2, endColorstr=#8091e8,GradientType=1);
    color:white !important;
}

.searchButtons {
}



/*########## ADVANCED SEARCH ###################*/

.adv_search {
    width:400px;
    position:absolute;
    top:66px;
    display:none;
    z-index:2;
}

.adv_types {
        float:left;
        width:120px;

}

.adv_types_tab {
        padding: 6px 3px 6px 6px;

}

.adv_types_tab:hover {
    background: linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -moz-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -webkit-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -ms-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -o-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5e81f2, endColorstr=#8091e8,GradientType=1);
    color:white !important;
}

.adv_types_tab.active {
    background: linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -moz-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -webkit-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -ms-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); background: -o-linear-gradient(top, #5e81f2 0%, #7787f2 50%, #8091e8 100%); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5e81f2, endColorstr=#8091e8,GradientType=1);
    color:white !important;
}

.adv_fields_div {
    float:left;
    width:279px;
}


.adv_fields {
display:none;
}
.adv_fields_tab {
        padding: 6px 3px 6px 5px;

}
.adv_fields.PageBorders-none-top-left{
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-left-radius: 0px; 
    moz-border-radius-topleft: 0px; 
    -moz-border-radius-topright: 0px; 
    -moz-border-radius-bottomleft: 0px; 
    -webkit-border-top-left-radius: 0px; 
    -webkit-border-top-right-radius: 0px; 
    -webkit-border-bottom-left-radius: 0px;

}

.adv_types.PageBorders-none-top {
    border-top-left-radius: 0px; 
    border-top-right-radius: 0px; 
    border-bottom-right-radius: 0px; 
    moz-border-radius-topleft: 0px; 
    -moz-border-radius-topright: 0px; 
    -moz-border-radius-bottomright: 0px; 
    -webkit-border-top-left-radius: 0px; 
    -webkit-border-top-right-radius: 0px; 
    -webkit-border-bottom-right-radius: 0px; 
}

.adv_fields_tab li {
    list-style:none;
}

#adv_periods {
    padding-left:10px;
    padding-right:10px;
}

.adv_filds_tab h4 {
}

#amount {
    border:0; 
    color:#f6931f; 
    font-weight:bold;
}

#adv_presets {
    display:none;
}

#adv_custom {
    display:none;
}

#adv_presets, #adv_custom {
    margin: 6px 0;
}

.adv_periods_buttons {
    display: inline-block;
    margin: 0 8px;
}

.adv_periods_buttons.adv_selected,  .adv_presets.pre_selected {
    text-decoration:underline;
    color:#5e81f2;
}
.adv_periods_buttons:hover, .adv_presets:hover {
    text-decoration:underline;
    color:#5e81f2;
}

#adv_custom_button {
    
}

#adv_presets_button {
    
}

.adv_presets {
    width:100%;
    margin:0 10px;
    display: block;
}

.adv_custom_input {
     margin: 0 4px;
    width: 35%;
}
/*########## MAIN PAGE DESIGN ###################*/




#navigation {
    max-width:1024px;
    margin:0 auto;
    width:100%;
}

.clear {
    clear:both;
}

/* BORDER STYLES*/
.whiteBorder {
    background-color:#fafafa;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px; 
    border-bottom-left-radius: 10px; 
    moz-border-radius-topleft: 10px; 
    -moz-border-radius-topright: 10px; 
    -moz-border-radius-bottomright: 10px; 
    -moz-border-radius-bottomleft: 10px; 
    -webkit-border-top-left-radius: 10px; 
    -webkit-border-top-right-radius: 10px; 
    -webkit-border-bottom-right-radius: 10px; 
    -webkit-border-bottom-left-radius: 10px;
     box-shadow: 0px 1px 20px 2px #cac3db; -moz-box-shadow: 0px 1px 20px 2px #cac3db; -webkit-box-shadow: 0px 1px 20px 2px #cac3db;

}

.PageBorders {

    background-color:#fafafa;
    border-top-left-radius: 2px; 
    border-top-right-radius: 2px; 
    border-bottom-right-radius: 2px; 
    border-bottom-left-radius: 2px; 
    moz-border-radius-topleft: 2px; 
    -moz-border-radius-topright: 2px; 
    -moz-border-radius-bottomright: 2px; 
    -moz-border-radius-bottomleft: 2px; 
    -webkit-border-top-left-radius: 2px; 
    -webkit-border-top-right-radius: 2px; 
    -webkit-border-bottom-right-radius: 2px; 
    -webkit-border-bottom-left-radius: 2px;
     box-shadow: 0px 1px 20px 2px #cac3db; -moz-box-shadow: 0px 1px 20px 2px #cac3db; -webkit-box-shadow: 0px 1px 20px 2px #cac3db;

}

.PageBorders-none-left {

    background-color:#fafafa;
    border-top-left-radius: 2px; 
    border-top-right-radius: 2px; 
    border-bottom-right-radius: 2px; 
    border-bottom-left-radius: 2px; 
    moz-border-radius-topleft: 2px; 
    -moz-border-radius-topright: 2px; 
    -moz-border-radius-bottomright: 2px; 
    -moz-border-radius-bottomleft: 2px; 
    -webkit-border-top-left-radius: 2px; 
    -webkit-border-top-right-radius: 2px; 
    -webkit-border-bottom-right-radius: 2px; 
    -webkit-border-bottom-left-radius: 2px;
     box-shadow: 15px 1px 20px 2px #cac3db; -moz-box-shadow: 15px 1px 20px 2px #cac3db; -webkit-box-shadow: 15px 1px 20px 2px #cac3db;

}


.PageBorders-none-top {

 background-color:#fafafa;
    border-top-left-radius: 2px; 
    border-top-right-radius: 2px; 
    border-bottom-right-radius: 2px; 
    border-bottom-left-radius: 2px; 
    moz-border-radius-topleft: 2px; 
    -moz-border-radius-topright: 2px; 
    -moz-border-radius-bottomright: 2px; 
    -moz-border-radius-bottomleft: 2px; 
    -webkit-border-top-left-radius: 2px; 
    -webkit-border-top-right-radius: 2px; 
    -webkit-border-bottom-right-radius: 2px; 
    -webkit-border-bottom-left-radius: 2px;
     box-shadow: 0px 13px 20px 2px #cac3db; -moz-box-shadow: 0px 13px 20px 2px #cac3db; -webkit-box-shadow: 0px 13px 20px 2px #cac3db;

}


.PageBorders-none-top-left {

    background-color:#fafafa;
    border-top-left-radius: 2px; 
    border-top-right-radius: 2px; 
    border-bottom-right-radius: 2px; 
    border-bottom-left-radius: 2px; 
    moz-border-radius-topleft: 2px; 
    -moz-border-radius-topright: 2px; 
    -moz-border-radius-bottomright: 2px; 
    -moz-border-radius-bottomleft: 2px; 
    -webkit-border-top-left-radius: 2px; 
    -webkit-border-top-right-radius: 2px; 
    -webkit-border-bottom-right-radius: 2px; 
    -webkit-border-bottom-left-radius: 2px;
     box-shadow: 15px 13px 20px 2px #cac3db; -moz-box-shadow: 15px 13px 20px 2px #cac3db; -webkit-box-shadow: 15px 13px 20px 2px #cac3db;

}
/*########## LIST DESIGN #############*/


.list_main {
    float: left;
    margin: 10px 5px;
    padding: 10px;
    width: 100%;;
}


.list_main { /* BORDER STYLE */
    
}

.list_author {
    max-width:40%;
    padding: 10px 20px 5px 10px;
    font-size: 21px;
    font-weight: bold;
}

.list_short_title {
    width:50%;
    font-size:16px;
    padding: 5px;
    color:#0088cc !important;
}
.list_author, .list_short_title {
    float:left;    

}
.list_year {
}

.list_genre {
}

.list_title {
}

.list_denom {
}

.list_left {
    font-style:italic;
    width:29%;
}

.list_right {
max-width:70%;
}

.list_right, .list_left {
    float:left;
}
.list_inner {
    float:left;
    width:100%;
    padding-top:5px;
    border-bottom:1px solid #cac3db;
}