<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title class="config:app-title">App Title</title>
        <link class="helpers:favicon?path=resources/img/Favicon_Kreuz.ico"/>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <meta class="config:app-meta"/>
        <link class="helpers:app-root" rel="stylesheet" href="resources/css/bootstrap.min.css"/>
        <link class="helpers:app-root" rel="stylesheet" href="resources/css/styles.css"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery-1.11.2.js"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/bootstrap.min.js"/>
        <script class="helpers:script?path=$shared/resources/scripts/loadsource.js"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/script.js"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery-ui.min.js"/>
        <link href="http://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet" type="text/css"/>
      <!--  <script type="text/javascript">
        $(function() {
        $("#toTop").scrollToTop(1000);
        });
    </script>
 -->
        <!-- Piwik -->
        <script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://projects.cceh.uni-koeln.de/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "5"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
        <!-- End Piwik Code -->
    </head>
    <body id="body">
        <div id="side">
            <div id="navigation">
                <div class="page:createNavigation"/>
            </div>
            <div id="content" class="container"/>
        </div>
        <div id="footer"/>
        <!--
        <div class="templates:include?path=templates/navbar.html"/>
        <div class="clear"/>
        <div id="mainWrapper" class="container-fluid">
            <a href="#top" id="toTop"/>
            <div class="row-fluid">
                <div id="leftFields" class="span3">
                    <div class="templates:if-attribute-set?attribute=index">
                        <div class="templates:include?path=templates/search_field.html"/>
                    </div>
                    <div class="templates:if-attribute-set?attribute=impressum">
                        <div class="templates:include?path=templates/search_field.html"/>
                    </div>
                    <div class="templates:if-attribute-set?attribute=about">
                        <div class="templates:include?path=templates/search_field.html"/>
                    </div>
                    <div class="templates:if-attribute-set?attribute=resourceType">
                        <div class="templates:include?path=templates/search_field.html"/>
                    </div>
                    <div class="templates:if-attribute-set?attribute=viewDatasetInfo">
                        <div class="templates:include?path=templates/search_field.html"/>
                    </div>
                    <div id="leftFieldsFixed" class="span3">
                        <div class="templates:if-attribute-set?attribute=textView">
                            <div class="templates:include?path=templates/text_elements.html"/>
                        </div>
                    </div>
                </div>
                <div id="middleContent" class="span6 offset1">
                    <div id="content"/>
                </div>
                <div id="rightContent" class="offset9 span2"> -->
<!--                    <div class="templates:include?path=templates/login_status/loggedIn.html"/>
                    <div class="templates:include?path=templates/login_status/loggedOut.html"/>-->
               <!--     <div class="templates:if-attribute-set?attribute=textView">
                        <div class="templates:include?path=templates/download.html"/>
                    </div>
                </div>
            </div>
            <div class="footer">
                <span id="Impressum">
                    © 2015 Corpus of English Religious Prose //
                    <a class="helpers:prependRootPath?attributeName=href" href="/impressum.html">Impressum</a>
                </span>
            </div>
        </div>-->

        
<!--        <div class="helpers:print_params"/>
        <div class="helpers:print_attribs"/>
        <div class="helpers:print_model"/>-->
    </body>
</html>