
/***** NEUER STYLE******/
* {
    font-family: 'Noto Serif';
    }
    body {
        background-color:#e2e2e2 !important;
    }
 #logo {
      display: block;
    height: 40px;
    margin-top: -6px;
 }   
 .footer {
     margin: 0 10px;
 }
 .footer a {
     color: #337ab7 !important;
    text-decoration: none;
 }
 
 .footer a:hover{
     text-decoration:underline;
     color:#003399;
 }
 #footer {

     bottom: 0;
    display: block;
    margin-bottom: 6px;
    margin-right: 35px;
    position: relative;
    text-align: right;
 }
    /*#########CONTENT CONTAINER ########*/
    .container {
       max-width:728px;
        margin:10px auto;
        width:100%;
}
.content {
    background-color:white;
    margin-top:20px;

}
/*### NAVIGATION ###*/

#navigation {
    padding: 10px 0px;
    background: linear-gradient(top, #edeef2 0%, #f2f2f2 100%, #cac3db 100%); 
    background: -moz-linear-gradient(top, #edeef2 0%, #f2f2f2 100%, #cac3db 100%); 
    background: -webkit-linear-gradient(top, #edeef2 0%, #f2f2f2 100%, #cac3db 100%); 
    background: -ms-linear-gradient(top, #edeef2 0%, #f2f2f2 100%, #cac3db 100%); 
    background: -o-linear-gradient(top, #edeef2 0%, #f2f2f2 100%, #cac3db 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#edeef2, endColorstr=#cac3db,GradientType=1);    
    box-shadow: 0px 1px 20px 1px #cac3db; -moz-box-shadow: 0px 1px 20px 1px #cac3db; -webkit-box-shadow: 0px 1px 20px 1px #cac3db;
    height:65px; 
}

.NAV_MAIN_tab {
    display:block;
    float:left;
}
.NAV_HEADER_tab {
    
    }

.NAV_LIST_tab{

}

.NAV_LIST_list{
    list-style:none;
    
}

.NAV_headline {
        font-size: 15px;
        font-weight: bold;
    }
    
.NAV_line {
    border-bottom:1px solid #cac3db;
    margin: 5px 5px 10px 0;
    }


