     .tx-text { 
     
     }
     
     .tx-controll {
         
     }
     
     .tx-sample-inner {
        }
        .tx-sample {
            padding:10px;
        }
        .tx-paragraph {
        
        }
        .tx-headline {
        
        }
        
        .tx-pb {
            
        }
        .tx-fw {
            
        }
        
        /**## Catechism Style ##**/
        .tx-speaker {
            border:1px dotted;
            display: block;
        }
      
        
        .tx-speaker-paragraph  {
            
        }
        .tx-speaker-paragraph p {
            
        }
        
        .tx-high {
            vertical-align: super;
        }
        
        h3.tx-head {
            font-size: 16px;
        }
        
        