     .tx-text { 
     
     }
 
        .tx-innerText {
            margin: 5px 10px;
            padding: 5px 30px 5px 10px;
            width: 95%;
        }
     
        .tx-sample-inner {
        }
        .tx-sample {
            margin:5px 0px;            
        }
        
        .tx-paragraph {
        
        }
        .tx-headline {
        
        }
        
        .tx-pb {
            border-bottom:1px solid #cac3db;
            margin:10px 0px;
            
        }
        .tx-pb span {
            display:none;
            /*font-size: 10px;
            font-style: italic;*/
            text-align: right;/*
            color: #001e7f;*/
        }
        .tx-fw {
            display:none;
            font-weight:bolder;
            text-align:center;
        }
        
        span.print-error a, 
        span.illegible a, 
        span.print a,
        span.editor a{
            color:black;
            text-decoration:none;
        }        
        
        /**## Catechism Style ##**/
        .tx-speaker {
            display: block;
            margin:7px 5px;
            padding-left:5px;
        }
      
        
        .tx-speaker-paragraph  {
            
        }
        .tx-speaker-paragraph p {
            
        }
        
        .tx-high {
            vertical-align: super;
        }
        
        h3.tx-head {
            font-size: 16px;
        }
        .tx-speaker.ct-high, .ct-tx-speaker.ct-high {
            border-left: 2px solid #a31919;
        }
        
        /*## Header Style ###*/
        
        #he {
            margin: 10px 55px 5px 10px;
            padding: 5px 2px 10px;
        }
        #he-author {
            
        }
        
         #he-author-title {
         font-size:18px;
            
        }
        
        #he-author-profile {
            
        }       
       
        
        #he-author-content, #he-text-content {
            display:none;
            margin: 2px 10px 2px 5px;
            padding: 2px 5px;
        }
        
        #he-title {
            
        }
        
        #he-title-title {
            font-size:25px;
        }
        
        #he-title-profile {
            
        }
        
        #he-title-content {
            display:none;
            margin: 2px 10px 2px 5px;
            padding: 2px 5px;
        }
        
         #he-title-content table tr,  
         #he-author-content table tr {
             border-bottom: 1px solid #cac3db;
         }
         
        #he-title-content table tr td:nth-child(odd),  
        #he-author-content table tr td:nth-child(odd) {
            width:150px;
        }
         
        #he-author-title, #he-title-title {
            float:left;
            display:block;
        }
        
         .he-profile {
            text-align:right;
            display:block;
            color: #001e7f;
            font-style:italic;
            cursor:pointer;
        }
        
        .he-profile:hover {
            color: #003dff;
        }
        
        #he-text-profile {
            text-align:left;
            margin-top:10px;
        }
        
        #he-controlls  {
            text-align:right;
        }
        #he-controlls div {
            display:block;
        }
        
        .he-bar {
            color: #001e7f;
            cursor:pointer;
        }
        
        .he-bar:hover {
            color: #003dff;
        }
        
        /*### Higlight Window###*/
        #ct { 
           top: 95px;
            padding: 5px 10px;
            position:fixed;        
            margin-left:635px;
            
        }
        .ct-position {
            position:fixed;
            margin-left:45px;
            top:95px;
            
        }
        #ct-sideButtons {
        }
        #ct-sideButtons span i {
            color:red;
            font-size:17px;
        }
        #ct-annotations-b {
            
        }
        #ct-downloads-b {
            
        }
        #ct-annotations-b, #ct-downloads-b {
            cursor:pointer;
            display:block;
        }
        #ct-annotations-w {
            padding: 5px 10px;
            width: 250px;
            
        }
        #ct-downloads-w{
            width:100px;
            padding:5px 10px;
        }
        #ct-downloads-w span span {
            display:block;
            font-size: 16px;
        }
        
        
            
     .ct-controll {       
        display:none;
     }
        
        .ct-header {
            border-bottom: 1px dotted black;
             cursor: pointer;
             display: block;
             font-size: 16px;
             margin: 4px 0;

        }
        
        .ct-elements {
            margin-left:20px;
            display:none;            
        }
        
        .ct-elements.ct-visible {
            display:block;            
        }
        
        .ct-functions {
            width:200px;
        }
        
        .glyphicon-step-backward, 
        .glyphicon-step-forward{
            cursor:pointer;
            font-size:17px;
        }
        
        .glyphicon-step-backward:hover, 
        .glyphicon-step-forward:hover {
            color:grey;
        }
         
         label {
             font-weight:normal;
         }
        
        /*### Highlights ###*/
        
     
        
        .ct-scroll {
            background-color:#d3d3d3;
        }
        
        .ct-button {
            margin: 1px 2px;
            padding: 1px 2px 1px 4px;
            width:155px;
            cursor:pointer;
        }
        
        .biblical.ct-high, .ct-biblical.ct-high{
            color: #336699;
        }
        
        .biblical.ct-high,.ct-biblical.ct-high {
            font-style: italic;
        }
        
        .tx-sample.ct-high, .ct-tx-sample.ct-high {
            background-color: #e0eeee;
        }
        
        .tx-head.ct-high, .ct-tx-head.ct-high {
            border-left: 2px solid #003399;
        }
        
        span.print-error.ct-high a, .ct-print-error.ct-high,
        span.illegible.ct-high a, .ct-illegible.ct-high,
        span.print.ct-high a, .ct-print.ct-high,
        span.editor.ct-high a, .ct-editor.ct-high{
            font-style:italic;
            color:red;
        }
        span.print-error.ct-high a i,span.illegible.ct-high a i, span.print.ct-high a i {
            display:inline;
        }
        
        .ct-tx-pb.ct-high, .tx-pb.ct-high span {
            
            font-style: italic;
            color: #001e7f;
        }
        .tx-pb.ct-high span {
            display:block;
            font-size: 10px;
        }
        
        .ct-tx-fw.ct-high {
            font-weight:bolder;
            font-size:12px;
        }
        
        .tx-fw.ct-high {
            display:block;
        }