     .tx-text { 
     
     }
     
     .tx-controll {
         top: 95px;
        padding: 5px 10px;
        position:fixed;
        display:block;
        margin-left:610px;
     }
     
     .tx-sample-inner {
        }
        .tx-sample {
            margin: 5px 10px;
            padding: 5px 2px 5px 10px;
             width: 95%;

            
        }
        .tx-paragraph {
        
        }
        .tx-headline {
        
        }
        
        .tx-pb {
            
        }
        .tx-fw {
            
        }
        
        span.print-error a, span.illegible a, span.print a {
            color:black;
            text-decoration:none;
        }        
        
        /**## Catechism Style ##**/
        .tx-speaker {
            display: block;
            margin:7px 5px;
            padding-left:5px;
        }
      
        
        .tx-speaker-paragraph  {
            
        }
        .tx-speaker-paragraph p {
            
        }
        
        .tx-high {
            vertical-align: super;
        }
        
        h3.tx-head {
            font-size: 16px;
        }
        .tx-speaker.ct-high, .ct-tx-speaker.ct-high {
            border-left: 2px solid #a31919;
        }
        
        /*### Higlight Window###*/
        .ct-header {
            border-bottom: 1px dotted black;
             cursor: pointer;
             display: block;
             font-size: 16px;
             margin: 4px 0;

        }
        
        .ct-elements {
            margin-left:20px;
            display:none;            
        }
        
        .ct-elements.ct-visible {
            display:block;            
        }
        
        .ct-controll {
            width:200px;
        }
        
        .glyphicon-step-backward, 
        .glyphicon-step-forward{
            cursor:pointer;
            font-size:17px;
        }
        
        .glyphicon-step-backward:hover, 
        .glyphicon-step-forward:hover {
            color:grey;
        }
         
         label {
             font-weight:normal;
         }
        
        /*### Highlights ###*/
        
        .ct-button {
            margin: 1px 2px;
            padding: 1px 2px 1px 4px;
            width:155px;
            cursor:pointer;
        }
        
        .biblical.ct-high, .ct-biblical.ct-high{
            color: #336699;
        }
        
        .biblical.ct-high,.ct-biblical.ct-high {
            font-style: italic;
        }
        
        .tx-sample.ct-high, .ct-tx-sample.ct-high {
            background-color: #e0eeee;
        }
        
        .tx-head.ct-high, .ct-tx-head.ct-high {
            border-left: 2px solid #003399;
        }
        
        span.print-error.ct-high a, .ct-print-error.ct-high,
        span.illegible.ct-high a, .ct-illegible.ct-high,
        span.print.ct-high a, .ct-print.ct-high {
            font-style:italic;
            color:red;
        }
        span.print-error.ct-high a i,span.illegible.ct-high a i, span.print.ct-high a i {
            display:inline;
        }