<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" class="templates:surround?with=templates/page.html&amp;at=content">
    <div class="whiteBorder LIST-sortButton">
        <span>Sort by : </span>
        <span><get data-template="corpus:createSortBy" data-template-sort="date"/></span>
        <span><get data-template="corpus:createSortBy" data-template-sort="title"/></span>
        <span><get data-template="corpus:createSortBy" data-template-sort="authors"/></span>
    </div>    
    <map data-template="corpus:mapScanDB">
        <div id="list"/>
    </map>
</div>