<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title class="config:app-title">App Title</title>
        <link class="helpers:favicon?path=resources/img/Favicon_Kreuz.ico"/>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <meta class="config:app-meta"/>
        <link class="helpers:app-root" rel="stylesheet" href="resources/css/bootstrap.min.css"/>
        <link class="helpers:app-root" rel="stylesheet" href="resources/css/styles.css"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery-1.11.2.js"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/bootstrap.min.js"/>

        <script class="helpers:app-root" type="text/javascript" src="resources/js/script.js"/>
        <script class="helpers:app-root" type="text/javascript" src="resources/js/jquery-ui.min.js"/>
        <link href="http://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet" type="text/css"/>
        
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"/>
      <!--  <script type="text/javascript">
        $(function() {
        $("#toTop").scrollToTop(1000);
        });
    </script>
 -->
        <!-- Piwik -->
        <script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://projects.cceh.uni-koeln.de/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "5"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
        <!-- End Piwik Code -->
    </head>
    <body id="body">
        <div id="side">
            <div id="navigation">                
                <div class="NAV_MAIN_tab ">
                    <a href="index" data-template="helpers:app-root"><img data-template="helpers:app-root" src="resources/img/CoERP-Logo-4_neu.png" id="logo"/></a>
                </div>
                <wrap data-template="page:createNavigation">
                    <div class="NAV_MAIN_tab ">
                    <span class="NAV_HEADER_tab">Hierachies</span>
                        <div class="NAV_HEADER_list PageBorders-none-top PageBorders-none-top">                        
                        <wrap data-template="helpers:invisibleEach" data-template-from="hierarchies" data-template-to="hit">
                            <i data-template="page:printNavigations" data-template-get="hit"/>                        
                        </wrap>                    
                    </div>
                </div>
                    <div class="NAV_MAIN_tab ">
                        <span class="NAV_HEADER_tab">Sets</span>
                    <div class="NAV_HEADER_list PageBorders-none-top">                        
                        <wrap data-template="helpers:invisibleEach" data-template-from="sets" data-template-to="hit">
                            <i data-template="page:printNavigations" data-template-get="hit"/>                        
                        </wrap>                    
                    </div>
                </div>
                    <div class="NAV_MAIN_tab">
                    <span class="NAV_HEADER_tab">Genres</span>             
                    <div class="NAV_HEADER_list PageBorders-none-top">                        
                        <wrap data-template="helpers:invisibleEach" data-template-from="genres" data-template-to="hit">
                            <i data-template="page:printNavigations" data-template-get="hit"/>                        
                        </wrap>                    
                    </div>
                </div>
                    <div class="NAV_MAIN_tab">
                        <span class="NAV_HEADER_tab">Periods</span>             
                        <div class="NAV_HEADER_list PageBorders-none-top">                        
                            <wrap data-template="helpers:invisibleEach" data-template-from="periods" data-template-to="hit">
                                <i data-template="page:printNavigations" data-template-get="hit"/>                        
                            </wrap>                       
                        </div>
                    </div>
                    <div class="NAV_MAIN_tab">
                        <span class="NAV_HEADER_tab">Denominations</span>             
                        <div class="NAV_HEADER_list PageBorders-none-top">                        
                            <wrap data-template="helpers:invisibleEach" data-template-from="denom" data-template-to="hit">
                                <i data-template="page:printNavigations" data-template-get="hit"/>                        
                            </wrap>                       
                        </div>
                    </div>
                    <div class="NAV_MAIN_tab">
                        <span class="NAV_HEADER_tab">Authors</span>             
                        <div class="NAV_HEADER_list PageBorders-none-top">                        
                            <wrap data-template="helpers:invisibleEach" data-template-from="authors" data-template-to="hit">
                                <i data-template="page:printNavigations" data-template-get="hit"/>                        
                            </wrap>                       
                        </div>
                    </div>
                </wrap>
            </div>
            <div id="content" class="container"/>
            <div class="whiteBorder ScrollToTop pull-right"><i class="glyphicon glyphicon-triangle-top"/></div>
            </div>
        <div id="footer">
            
                © 2015 Corpus of English Religious Prose //
            <span class="footer"><a class="helpers:app-root" href="page/impressum.html">Impressum</a></span>
            <span class="footer"><a class="helpers:app-root" href="page/team.html">Team</a></span>
            <span class="footer"><a class="helpers:app-root" href="page/contact.html">Contact</a></span>
        </div>

    </body>
</html>